<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.christopherluc.ffxivnodetimer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".application.CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity
            android:name=".activity.ItemListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TimerListActivity"
            android:label="@string/timer_activity_title"
            android:parentActivityName=".activity.ItemListActivity"
            android:theme="@style/AppTheme">
        </activity>

        <provider
            android:name=".data.DataProvider"
            android:authorities="com.christopherluc.ffxivnodetimer"
            android:exported="false"/>

        <receiver
            android:name=".timer.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".timer.NotificationService"
            android:exported="false">
        </service>

        <service
            android:name=".widget.TimerWidgetRemoteViewsServices"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".widget.TimerWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timer_widget_provider_info"/>
        </receiver>
    </application>

</manifest>